{% if block_lists.slider.blocks.size > 0 %}
  <div class="index-block promo-slider-wrapper">
    <div class="promo-slider swiper-container">
      <div class="swiper-wrapper">

        {% for slide in block_lists.slider.blocks %}
        <div class="promo-slide swiper-slide">
          <a class="slide-inner" href="{{ slide.link }}">
            <img class="slide-image" src="{{ slide.image }}" title="{{ slide.title }}" alt="{{ slide.title }}" />

            {% if slide.title %}
              <div class="slide-caption">
                <div class="slide-title">{{ slide.title | editable }}</div>
              </div>
            {% endif %}
          </a>
        </div>
        {% endfor %}
      </div>

      <div class="promo-slider-pagination"></div>

      <div class="promo-slider-prev"><i class="fa fa-angle-left"></i></div>
      <div class="promo-slider-next"><i class="fa fa-angle-right"></i></div>
    </div>
  </div>
{% endif %}
