<div class="page-content">
  {% include "breadcrumb" %}

  <div class="decorated-title-wrapper">
    <div class="decorated-title">
      {% include "page_header" %}
    </div>
  </div>

  {% if cart.items.size > 0 %}

    <form action="{{ cart_items }}" method="post" class="shopping-cart" data-cart-form>

      <div class="cart-body row">
        <div class="cart-list cell-12">

          {% comment %}
          <div class="cart-header row">
            <div class="cart-head item-image cell-2 cell-4-md cell-12-xs">
              &nbsp;
            </div>
            <div class="cart-head item-caption cell-4 cell-4-md cell-12-xs">
              {{ messages.label_title }}
            </div>
            <div class="cart-head item-price cell-1 cell-4-md cell-12-xs">
              {{ messages.label_price }}
            </div>
            <div class="cart-head item-counter cell-2 cell-4-md cell-12-xs">
              {{ messages.label_amount }}
            </div>
            <div class="cart-head item-total js-item-total-price cell-2 cell-4-md cell-12-xs">
              {{ messages.label_total }}
            </div>
            <div class="cart-head item-delete cell-1 cell-4-md cell-12-xs">
              {{ messages.label_remove }}
            </div>
          </div>
          {% endcomment %}

          {% for item in cart.items %}

            {% include 'cart_item' %}

          {% endfor %}

        </div>
      </div>

      <div class="cart-footer row top js-shopcart-area">

        <div class="cell-6 cell-12-sm">
          {% include "cart_discount" %}
        </div>

        <div class="cart-control cell-6 cell-12-sm flex-first-sm flex-end flex-start-xs">

          <div class="total-summ">
            <span class="summ-caption">{{ messages.subtotal }}:</span>
            <span class="summ-number js-shopcart-total-summ">{{ cart.items_price | money }}</span>
          </div>

          <button type="submit" class="cart-checkout button is-primary" data-cart-submit>{{ messages.button_checkout }}</button>

        </div>

      </div>

      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="make_order" value="">
      <input type="hidden" name="lang" value="{{ language.locale }}"/>

    </form>

    {% assign cart_empty_class = 'hide' %}
  {% endif %}

  <div class="notice notice-info text-center js-cart-empty {{ cart_empty_class }}">
    {{ messages.cart_is_empty }}
  </div>
</div>
