{% include "breadcrumb" %}

<div class="row">

  <div class="page-content cell-9 cell-8-md cell-12-sm">

    <div class="decorated-title-wrapper">
      <div class="decorated-title">
        {% include "page_header" %}
      </div>
    </div>

    <div class="article">

      <div class="article-body editor">
        {{ article.content | editable }}
      </div>

      <div class="article-toolbar on-page">

        <span class="date">
          <i class="fa fa-calendar"></i> {{ article.created_at | date: "%d.%m.%Y" }}
        </span>

        {% if article.author %}
            <span class="author">
              <i class="fa fa-user"></i>
              {{ article.author }}
            </span>
          {% endif %}

        {% comment %}
        {% if blog.comments_enabled? %}
          <span class="comments-count">
            <i class="fa fa-comments"></i>
            <a href="#comments-block"> {{ messages.comments }} ({{ article.comments_count }})</a>
          </span>
        {% endif %}
        {% endcomment %}

      </div>

      {% include 'article_comments' %}
    </div>

  </div>

  <div class="page-sidebar cell-3 cell-4-md cell-12-sm">

    {% for blog in blogs %}
      <div class="sidebar-block">
        <div class="blog-menu-header sidebar-block-header">
          {{ blog.title }}
        </div>

        <ul class="blog-menu">
          {% for article in blog.articles limit: 5 %}
            <li class="blog-menu-item">
              <a href="{{ article.url }}" class="blog-menu-link">{{ article.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}

  </div>

</div>
