<div class="container">
  {% include "breadcrumb" %}
  <div class="article-content">
    <div class="row">

      <div class="article-inner cell-9 cell-12-mc">
        <h1 class="article-title">{{ article.title }}</h1>
        <div class="article-text editor">
          {{ article.content | editable }}
        </div>

        {% if article.related_products.size > 0 %}
        <div class="article-products">
          {% include "products_slider", products_title: 'Товары по теме', products_array: article.related_products %}
        </div>
        {% endif %}
    </div>

    <div class="blog-right-column cell-3 cell-12-mc">
      <div class="article-image">
        <img src="{{ article.image.original_url }}" alt="{{ article.title }}" title="{{ article.title }}"/>
      </div>
      {% include 'article-right-column' %}

    </div>
  </div>
  {% include 'article-comments' %}
</div>
