<div class="container">
  {% include "breadcrumb" %}
  <div class="cart-top js-count-words">
  </div>
  <div class="cart-form">
    {% if cart.items.size > 0 %}

    <form action="{{ cart_url }}" method="post" data-cart-form>
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="make_order" value="">
      <div class="cart-items">
        {% for item in cart.items %}
          {% include "cart_item" %}
        {% endfor %}
      </div>

      <div class="container">
        <div class="row container flex-middle cart-footer">
          <div class="cell-5 row flex-middle">
            <div class="discounts-wrap row flex-between">
              <div class="discounts-toggle">
                <span class="discounts-percent">%</span> <span class="discounts-marker">ПРОМОКОД</span>
              </div>
                <input type="text" name="cart[coupon]" class="discounts-coupon" placeholder="" {% if cart.invalid_coupon? %}value=""{% endif %}>
                <div class="discount-button">
                  <button class="discounts-submit
                  bttn-transparent
                  is-discounts
                  js-discounts-submit"
                  data-coupon-submit
                  />Применить</button>
              </div>
            </div>

            {% if cart.invalid_coupon? %}
              <div class="discounts-notice input-notice notice--danger">
                {{ cart.coupon_error }}
              </div>
            {% endif %}
            <div class="discounts-rows js-discounts">
            {% if cart.discounts.size > 0 %}
            {% for discount in cart.discounts %}
            <div class="row flex-between flex-middle discounts-row">
              <span class="cart_sidebar-total_label">{{ discount.description }}:</span> <span class="cart_sidebar-total">
                {% if discount.percent %}
                - {{ discount.percent | round: 0 }} %
                {% else %}
                - {{ discount.amount | money }}
                {% endif %}
              </span>
            </div>
            {% endfor %}
            {% endif %}
            </div>
          </div>
          <div class="cell-7">
            <div class="row flex-middle">
              <div class="cell-12 text-right">
                <div class="cart-summ text-right">
                  <div class="cart-total-capture">Сумма к оплате: </div>
                  <div class="cart-total js-cart-totals">
                    {{ cart.total_price | money }}
                  </div>
                </div>
                <div class="cart-order text-right">
                  <button type="submit"  class="cart-submit bttn-second in-cart" data-cart-submit>ОФОРМИТЬ</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="cell-7">
          <a href="/collection/all" class="cart-back bttn bttn-transparent">
            В каталог
          </a>
        </div>

      </div>
    </form>
    {% include "cart_similar" %}
    {% endif %}
    <div class="cart-empty {% unless cart.items.size == 0 %}hide{% endunless %}">
      Корзина пуста
    </div>
  </div>
</div>
