<div class="container">
  {% include "breadcrumb" %}
  <div class="cart-form">
    {% if cart.items.size > 0 %}

    <form action="{{ cart_url }}" method="post" data-cart-form>
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="make_order" value="">
      <div class="cart-items">
        {% for item in cart.items %}
          {% include "cart_item" %}
        {% endfor %}
      </div>

      <div class="row flex-middle cart-footer">
        <div class="cell-5 row flex-middle">
          <div class="discounts-wrap row flex-between">
            <div class="discounts-toggle">
              <span class="discounts-percent">%</span> <span class="discounts-marker">ПРОМОКОД</span>
            </div>
              <input type="text" name="cart[coupon]" class="discounts-coupon" placeholder="" {% if cart.invalid_coupon? %}value=""{% endif %}>
              <div class="discount-button">
                <button class="discounts-submit
                button button-underline
                is-discounts
                js-discounts-submit"
                data-coupon-submit
                />Применить</button>
            </div>
          </div>
        </div>
        <div class="cell-7">
          <div class="row flex-middle">
            <div class="cell-12 text-right">
              <div class="cart-summ text-right">
                <div class="cart-total-capture">Сумма к оплате: </div>
                <div class="cart-total js-cart-totals">
                  {{ cart.total_price | money }}
                </div>
              </div>
              <div class="cart-order text-right">
                <button type="submit"  class="cart-submit button-arrow in-cart" data-cart-submit>ОФОРМИТЬ</button>
              </div>
            </div>
          </div>
        </div>

        {% if cart.invalid_coupon? %}
        <div class="cell-7">
          <div class="discounts-notice input-notice notice--danger">
            {{ cart.coupon_error }}
          </div>
        </div>
        {% endif %}

        <div class="cell-5 {% unless cart.invalid_coupon? %} push-7{% endunless %}">
          <div class="cart-discount text-right">
            {% if cart.discounts.size > 0 %}
            {% for discount in cart.discounts %}
              <div class="discount">
                <div class="discount-title">
                  {{ discount.description }}
                </div>
                    <div class="discount-prices prices">
                      <span class="prices-current">
                        - {{ discount.amount | money }}
                      </span>
                    </div>

                  </div>
                {% endfor %}
              {% endif %}
          </div>
        </div>

      </div>

      <div class="row">
        <div class="cell-7">
          <a href="/collection/all" class="cart-back button button-underline">
            В каталог
          </a>
        </div>

      </div>
    </form>
    {% include "cart_similar" %}
    {% endif %}
    <div class="cart-empty {% unless cart.items.size == 0 %}hide{% endunless %}">
      Корзина пуста
    </div>
  </div>
</div>
