{% unless article_prefix %}
  {% assign article_prefix = '' %}
{% endunless %}

<div class="article_preview {{ article_prefix }}">

  <a class="article_preview-image_wrap" href="{{ article.url }}">
    <img class="article_preview-image" src="{{ article.image.large_url }}">
  </a>

  <h3 class="article_preview-title">
    <a href="{{ article.url }}">
      {{ article.title }}
    </a>
  </h3>

  <a href="{{ article.url }}" class="article_preview-url">
    подробнее
  </a>


</div>
