{% assign special_categories_count = 4 %}
{% assign special_categories_total = 0 %}
{% assign special_categories_show  = false %}

{% assign category_cell_class = 'cell-3 cell-4-md cell-6-sm cell-12-mc' %}

{% assign is_cover = '' %}


{% comment %}Подготовка данных{% endcomment %}
{% assign categories_handles = '' %}
{% assign categories_titles = '' %}

{% for i in (1..special_categories_count) %}
  {% capture handle %}special_category_{{ i }}_handle{% endcapture %}
  {% capture name %}special_category_{{ i }}_name{% endcapture %}
  {% unless settings[handle] == '' %}
    {% assign special_categories_show = true %}

    {% unless forloop.first %}
      {% assign categories_handles = categories_handles | append: '|' %}
      {% assign categories_titles = categories_titles | append: '|' %}
    {% endunless %}

    {% assign categories_handles = categories_handles | append: settings[handle] %}
    {% assign categories_titles = categories_titles | append: settings[name] %}
  {% endunless %}
{% endfor %}

{% unless special_categories_show %}
  {% for collection in collections limit:4 %}
    {% assign special_categories_show = true %}

    {% unless forloop.first %}
      {% assign categories_handles = categories_handles | append: '|' %}
      {% assign categories_titles = categories_titles | append: '|' %}
    {% endunless %}

    {% assign categories_handles = categories_handles | append: collection.handle %}
    {% assign categories_titles = categories_titles | append: collection.title %}
  {% endfor %}
{% endunless %}

{% assign categories_handles = categories_handles | split: '|' %}
{% assign categories_titles = categories_titles | split: '|' %}
{% comment %}-- Подготовка{% endcomment %}


{% if categories_handles.size > 0 %}
  <div class="index-block special-categories">

    <div class="special-categories-title decorated-title-wrapper">
      <h2 class="decorated-title">Категории</h2>
    </div>

    <div class="row">
      {% for category in categories_handles %}
        {% assign _index = forloop.index | minus: 1 %}

        <div class="special-category {{ category_cell_class }}">
          <a href="{{ collections[category].url }}" class="category-inner">

            <div class="category-image-wrapper">
              <span class="category-image-inner image-container is-square {{ is_cover }}">

                {% if collections[category].image.url contains 'no_image' %}
                  {% assign image = collections[category].image.url %}
                {% else %}
                  {% assign image = collections[category].products.first.first_image.large_url %}
                {% endif %}

                <img src="{{ image }}" class="category-image" title='{{ collection.title }}'>
              </span>
            </div>

            <div class="category-title">
              {{ categories_titles[_index] }}
            </div>

          </a>
        </div>

      {% endfor %}
    </div>
  </div>
{% endif %}

{% assign is_cover = null %}
