{% if blog.comments_enabled? %}
  <div class="comments-header">
    <h2>{{ messages.comments }} ({{ article.comments_count }})</h2>
  </div>

  {% if article.comments.size > 0 %}
    <div class="comments-list">
      {% for comment in article.comments %}

        <div class="comments-item">
          <div class="comment-header"></div>
          <div class="comment-body">
            {{ comment.content | newline_to_br }}
          </div>
          <div class="comment-footer">
            <span class="date">
              <i class="fa fa-calendar"></i>
              {{ comment.created_at | date: "%d.%m.%Y" }}
            </span>
            <span class="author">
              <i class="fa fa-user"></i>
              {{ comment.author }}
            </span>
          </div>
        </div>

      {% endfor %}
    </div>
  {% endif %}

  <div class="comments-wrapper">
    <button type="button" class="button js-comments-toggle">{{ messages.comment_add }}</button>

    <div class="comments-form">
      {% form comment %}

        {% if form.posted_successfully? %}
          {% if blog.moderated? %}
            <div class="notice notice-success">
              {{ messages.comment_is_added_moderated }}
            </div>
          {% else %}
            <div class="notice notice-success">
              {{ messages.comment_is_added }}
            </div>
          {% endif %}
        {% endif %}

        <div id="comment_form" class="form">

          <div class="form-row is-required {% if comment.errors contains 'author' %}with-error{% endif %} in-line">
            <label class="form-label">{{ messages.field_name }}</label>

            <input type="text" name="comment[author]" value="{{ comment.author }}" class="form-field input-field"/>
          </div>

          <div class="form-row is-required {% if comment.errors contains 'email' %}with-error{% endif %} in-line">
            <label class="form-label">{{ messages.field_email }}</label>

            <input type="email" name="comment[email]" value="{{ comment.email }}" class="form-field input-field"/>
          </div>

          <div class="form-row is-required is-wide {% if comment.errors contains 'content' %}with-error{% endif %}">
            <label class="form-label">{{ messages.field_comment }}</label>

            <textarea name="comment[content]" rows="5" class="form-field textarea-field">{{ comment.content }}</textarea>
          </div>

          {% if comment.captcha_enabled? %}
            <div class="form-row is-required {% if comment.errors contains 'captcha_solution' %}with-error{% endif %}">
              <label class="form-label">{{ messages.field_captcha }}</label>

              <div id="captcha_challenge" class="captcha-image">
                {{ comment | captcha_challenge }}
              </div>

              <input type="text" name="comment[captcha_solution]" class="form-field text-field"/>
            </div>
          {% endif %}

          <div class="form-controls">
            <button type="submit" class="button is-primary js-validate-form">{{ messages.button_submit }}</button>
          </div>

        </div>

        {% if blog.moderated? %}
          <p class="notice notice-info">
            <i class="fa fa-info"></i>
            {{ messages.comments_are_moderated }}
          </p>
        {% endif %}

      {% endform %}

    </div>
  </div>
{% endif %}
