<div class="cart-item" data-product-id="{{ item.product.id }}" data-item-id="{{ item.id }}">
  <div class="cart-item-inner row flex-middle">

    <div class="item-image-wrapper cell-2 cell-3-sm">
      <div class="item-image-inner">
        <a href="{{ item.product.url }}" title='{{ item.title }}' class="item-image-link image-container is-square">
          <img title='{{ item.title }}' alt='{{ item.title }}' src="{{ item.product.first_image.medium_url }}"
               class="item-image">
        </a>
      </div>
    </div>

    <div class="item-caption cell-3 cell-9-md">
      <div class="item-title">
        <a href="{{ item.product.url }}">{{ item.title }}</a>
      </div>
      {% if item.sku %}
        <div class="item-article hide-xs">{{ messages.label_article }}{{ item.sku }}</div>
      {% endif %}
    </div>

    <div class="item-prices in-item cell-2 cell-3-md cell-7-xs">
      <div class="item-price js-item-price">
        {{ item.sale_price | money }}
      </div>
    </div>

    <div class="item-counter cell-2 cell-3-md cell-5-xs flex-end-xs" data-quantity>
      <div class="counter">
        <button type="button" data-quantity-change="-1" class="counter-button button button-number count-down">
          <i class="icon fa fa-minus"></i>
        </button>

        <input type="text" value="{{ item.quantity }}" min="1" max="1000" name="cart[quantity][{{ item.id }}]" class="counter-input input-number input-field"/>

        <button type="button" data-quantity-change="1" class="counter-button button button-number count-up">
          <i class="icon fa fa-plus"></i>
        </button>
      </div>
    </div>

    <div class="item-total in-item js-item-total-price cell-2 cell-4-md cell-9-xs">
      {{ item.total_price | money }}
    </div>

    <div class="cell-1 cell-2-md cell-3-xs flex-end">
      <button type="submit" class="item-delete button is-transparent" data-item-delete="{{ item.id }}">
        <i class="fa fa-remove"></i>
      </button>
    </div>
  </div>

</div><!-- /.cart-item -->
