{% if paginate['pages'] > 1 %}

  <ul class="pagination text-right">

    {% if paginate.previous %}
      <li class="pagination-item">
        <a href="{{ paginate.parts.first.url }}" class="pagination-link"><i class="fa fa-angle-double-left"></i></a>
      </li>
      <li class="pagination-item">
        <a href="{{ paginate.previous.url }}" class="pagination-link"><i class="fa fa-angle-left"></i></a>
      </li>
    {% endif %}

    {% for part in paginate.parts %}
      {% if part.title == paginate['current_page'] %}
        <li class="pagination-item is-current">
          <span class="pagination-link">
            {{ part.title }}
          </span>
        </li>
      {% else %}
        <li class="pagination-item">
          {% if part.is_link %}
            <a href="{{ part.url }}" class="pagination-link">
              {{ part.title }}
            </a>
          {% else %}
            <span>
              {{ part.title }}
            </span>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}

    {% if paginate.next %}
      <li class="pagination-item">
        <a href="{{ paginate.next.url }}" class="pagination-link"><i class="fa fa-angle-right"></i></a>
      </li>
      <li class="pagination-item">
        <a href="{{ paginate.parts.last.url }}" class="pagination-link"><i class="fa fa-angle-double-right"></i></a>
      </li>
    {% endif %}

  </ul>
{% endif %}
