{% assign hide_image = false %}
{% assign show_readmore = true %}

<div class="article-preview">

  {% unless hide_image %}
    <div class="article-image-wrapper">
      <a href="{{ article.url }}" title="{{ article.title }}" class="article-image-inner image-container is-simple is-cover">
        <img src="{{ article.image.large_url }}" alt="{{ article.title }}" title="{{ article.title }}"
             class="article-image"/>
      </a>
    </div>
  {% endunless %}

  <div class="article-caption">
    <div class="article-header">
      <h3 class="article-title">
        <a href="{{ article.url }}" class="article-link">{{ article.title | editable }}</a>
      </h3>

    </div>

    <div class="article-body">
      <div class="article-introtext editor">
        <p>{% if article.preview %}
            {{ article.preview | strip_html | truncate: 180 | editable }}
          {% else %}
            {{ article.content | strip_html | truncate: 180 | editable }}
          {% endif %}
        </p>
      </div>

      <div class="article-toolbar">
        <span class="date"><i class="fa fa-calendar"></i> {{ article.created_at | date: "%d.%m.%Y" }}</span>

          {% if article.author %}
            <span class="author">
              <i class="fa fa-user"></i>
              {{ article.author }}
            </span>
          {% endif %}

        {% if blog.comments_enabled? %}
        <span class="comments-count">
          <i class="fa fa-comments"></i>
          <a href="{{ article.url }}#comments-block">{{ messages.comments }} ({{ article.comments_count }})</a>
        </span>
        {% endif %}

      </div>

    </div>
  </div>
</div>

{% assign show_readmore = null %}
