<div class="article_preview">

  <div class="article_preview-image">
    <img src="{{ article.image.large_url }}" />
  </div>

  <h3 class="article_preview-title">
    {{ article.title | editable }}
  </h3>

  <div class="article_preview-date">
    {{ article.created_at | date: "%d.%m.%Y" }}
  </div>

  <div class="article_preview-text">
    {% if article.preview %}
      {{ article.preview | strip_html | truncate: 250 | editable }}
    {% else %}
      {{ article.content | strip_html | truncate: 250 | editable }}
    {% endif %}
  </div>

  <a href="{{ article.url }}" class="article_preview-url">
    Читать далее
  </a>

</div>
