{% unless form_submit %}
  {% assign form_submit = true %}
{% endunless %}
{% assign filter_active = false %}

<form class="collection-filter" action="{{ collection.url }}" method="get" data-submit-onchange="{{ form_submit }}">

  {% if header %}
    <div class="collection-filter-header">
      {{ header }}
    </div>
  {% endif %}

  {% for option in collection.options %}

    {% for value in option.values %}
      {% if value.selected %}
        {% assign filters_active = true %}
        {% assign filter_active = true %}
      {% endif %}
    {% endfor %}

    <div class="filter {% if filter_active %}is-active{% endif %}">

      <div class="filter-control">
        <button class="filter-toggle {% if filter_active %}is-active{% endif %}"
                type="button" data-target="parent" data-group="filters">
          <span class="filter-name">{{ option.title }}</span>
          <sup class="filter-count"></sup>
        </button>
        <button class="filter-clear button" type="button">
          <i class="icon clear-icon ion-ios-close-outline"></i>
        </button>
      </div>

      <div class="filter-items-wrapper">
        <ul class="filter-items-list scrollable">

          {% for value in option.values %}
            <li class="filter-item">
              <input class="filter-field checkbox-field" type="checkbox" value="{{ value.id }}"
              {% if value.selected %}checked{% endif %} name="options[{{ option.id }}][]"/>
              <label class="filter-label checkbox-label">{{ value.title }}</label>
            </li>
          {% endfor %}

        </ul>
      </div>

    </div>

  {% endfor %}

  {% for property in collection.properties %}

    {% assign filter_active = false %}
    {% if property.is_numeric? %}

      {% assign min_val = property.characteristics.first.name | round: 0 %}
      {% assign max_val = property.characteristics.first.name | round: 0 %}

      {% for characteristic in property.characteristics %}
        {% assign val = characteristic.name | round: 0 %}
        {% if val < min_val %}
          {% assign min_val = val %}
        {% endif %}

        {% if val > max_val %}
          {% assign max_val = val %}
        {% endif %}
      {% endfor %}

    {% endif %}

    {% if property.current? or property.lt_value or property.gt_value %}
      {% assign filters_active = true %}
      {% assign filter_active = true %}
    {% endif %}

    <div class="filter {% if filter_active %}is-active{% endif %}">

      <div class="filter-control">
        <button class="filter-toggle {% if filter_active %}is-active{% endif %}"
                type="button" data-target="parent" data-group="filters">
          <span class="filter-name">{{ property.title }}</span>
          <sup class="filter-count"></sup>
        </button>
        <button class="button filter-clear" type="button">
          <i class="icon clear-icon ion-ios-close-outline"></i>
        </button>
      </div>

      <div class="filter-items-wrapper">

        {% unless property.is_numeric? %}

          <ul class="filter-items-list scrollable">
            {% for characteristic in property.characteristics %}
              <li class="filter-item">
                <input class="filter-field checkbox-field" type="checkbox" value="{{ characteristic.id }}"
                {% if characteristic.current? %}checked{% endif %} name="characteristics[]"/>
                <label class="filter-label checkbox-label">{{ characteristic.title }}</label>
              </li>
            {% endfor %}

          </ul>

        {% else %}

          <div class="filter-body range-slider js-filter-range-slider">
            <div class="js-filter-range-placeholder"
              data-min="{{ min_val }}"
              data-max="{{ max_val }}"
              data-from="{{ property.gt_value }}"
              data-to="{{ property.lt_value }}"
              data-range-placeholder>
            </div>
            <div class="range-slider-input ">
              <input class="input-field input-range"
                type="hidden"
                name="properties_gt[{{ property.id }}]"
                placeholder="{{ min_val }}"
                value="{{ property.gt_value }}"
                data-range-from
                {% if min_val == start %}disabled{% endif %}
              />
              <input class="input-field input-range"
                type="hidden"
                name="properties_lt[{{ property.id }}]"
                placeholder="{{ max_val }}"
                value="{{ property.lt_value}}"
                data-range-to
                {% if max_val == end %}disabled{% endif %}/>
            </div>
          </div>

        {% endunless %}

      </div>

    </div>

  {% endfor %}

  {% assign filter_active = false %}
  {% assign coll_min = collection.products_price_min | round: 0 %}
  {% assign coll_max = collection.products_price_max | round: 0 %}
  {% if price_max or price_min %}
    {% assign filter_active = true %}
    {% assign filters_active = true %}
  {% endif %}

  <div class="filter {% if filters_active %}is-active{% endif %}">

    <div class="filter-control">
      <button class="filter-toggle" type="button" data-target="parent" data-group="filters">
        <span class="filter-name">{{ messages.label_price }}</span>
        <sup class="filter-count"></sup>
      </button>
      <button class="button filter-clear filter-price-clear" type="button">
        <i class="icon clear-icon"></i>
      </button>
    </div>

    <div class="filter-items-wrapper">
      <div class="filter-items">
        <div class="filter-body range-slider js-filter-range-slider">
          <div class="js-filter-range-placeholder"
            data-min="{{ coll_min }}"
            data-max="{{ coll_max }}"
            data-from="{{ price_min }}"
            data-to="{{ price_max }}"
            data-range-placeholder>
          </div>
          <div class="range-slider-input hide">
            <input class="input-field input-range"
              name="price_min"
              placeholder="{{ coll_min }}"
              value="{{ price_min }}"
              data-range-from
              {% if coll_min == price_min %}disabled{% endif %}
            />
            <input class="input-field input-range"
              name="price_max"
              placeholder="{{ coll_max }}"
              value="{{ price_max }}"
              data-range-to
              {% if coll_max == price_max %}disabled{% endif %}/>
          </div>
        </div>
      </div>
    </div>

  </div>

  {% unless form_submit %}
    <button type="submit" class="filter-submit button is-primary">{{ messages.button_apply }}</button>
  {% endunless %}

  {% if filters_active %}
    <a href="{{ collection.url }}"type="button" class="filters-clear button">{{ messages.button_reset_filters }}</a>
  {% endif %}

  {% if order %}
    <input type="hidden" name="order" value="{{ order }}" />
  {% endif %}

  {% if page_size %}
    <input type="hidden" name="page_size" value="{{ page_size }}"/>
  {% endif %}

  {% if language.not_default? %}
    <input type="hidden" name="lang" value="{{ language.locale }}"/>
  {% endif %}

  {% if search.query != '' %}
    <input type="hidden" name="q" value="{{ search.query }}"/>
  {% endif %}

</form>

{% assign form_submit = null %}
{% assign header = null %}
