{% if hide_sort %}
  {% assign sort_class = 'hidden' %}
{% endif %}

{% if hide_page_size %}
  {% assign page_size_class = 'hidden' %}
{% endif %}

<form class="collection-order-wrapper {{ collection_order }}" action="{{ collection.url }}" method="get">

  <div class="collection-order is-order {{ collection_order }} {{ sort_class }}">

    <label class="label-field hide">{{ messages.label_sort }}</label>

    <select class="select-field js-filter-trigger" name="order">
      {{ "" | select_option: order, messages.label_sort }}
      {{ "price"            | select_option: order, messages.sort_by_price }}
      {{ "descending_price" | select_option: order, messages.sort_by_price_desc  }}
      {{ "descending_age"   | select_option: order, messages.sort_by_createdon }}
      {{ "age"              | select_option: order, messages.sort_by_createdon_desc }}
    </select>

  </div>

  <div class="collection-order is-page-size {{ collection_order }} {{ page_size_class }}">

    <label class="label-field">{{ messages.label_limit }}</label>

    <select class="select-field js-filter-trigger" name="page_size">
      {{ "12"   | select_option: page_size, "12" }}
      {{ "24"   | select_option: page_size, "24" }}
      {{ "48"   | select_option: page_size, "48" }}
      {{ "96"   | select_option: page_size, "96" }}
    </select>

  </div>

  {% for prop in collection.current_characteristics %}
    <input type="hidden" name="characteristics[]" value="{{ prop.id }}"/>
  {% endfor %}

  {% for property in collection.properties %}
    {% if property.is_numeric? and property.gt_value and property.lt_value %}
      <input type="hidden" name="properties_gt[{{ property.id }}]" value="{{ property.gt_value }}"/>
      <input type="hidden" name="properties_lt[{{ property.id }}]" value="{{ property.lt_value }}"/>
    {% endif %}
  {% endfor %}

  {% for val in collection.current_option_values %}
    <input type="hidden" name="options[{{ val.option_name.id }}][]" value="{{ val.id }}"/>
  {% endfor %}

  {% if search.query != '' %}
    <input type="hidden" name="q" value="{{ search.query }}" />
  {% endif %}

  {% if language.not_default? %}
    <input type="hidden" name="lang" value="{{ language.locale }}" />
  {% endif %}

  {% if price_min %}
    <input type="hidden" name="price_min" value="{{ price_min }}" />
  {% endif %}

  {% if price_max %}
    <input type="hidden" name="price_max" value="{{ price_max }}" />
  {% endif %}

</form>


{% assign hide_sort = null %}
{% assign sort_class = null %}
{% assign hide_page_size = null %}
{% assign page_size_class = null %}
