{% if settings.social_media_hide %}
  {% assign footer_menu_wrapper = 'is-horizontal cell-9 cell-12-sm' %}
  {% assign social_menu_wrapper = 'hide' %}
{% else %}
  {% assign footer_menu_wrapper = 'is-vertical cell-3 cell-6-sm cell-12-xs' %}
  {% assign social_menu_wrapper = 'cell-6 cell-12-sm cell-12-xs flex-first-sm text-center' %}
{% endif %}

<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="footer-block footer-menu-wrapper {{ footer_menu_wrapper }}">
        {% include "menu", class: 'footer-menu', handle: 'footer-menu', type: 'linklists' %}
      </div>

      <div class="footer-block social-menu-wrapper {{ social_menu_wrapper }}">
        {% if block_lists.social.blocks.size > 0 %}
          <ul class="social-menu list">
            {% for group in block_lists.social.blocks %}

              {% assign icon_name = false %}

              {% if group.link contains 'vk.com' %}
                {% assign icon_name = 'vk' %}
              {% endif %}

              {% if group.link contains 'facebook.com' %}
                {% assign icon_name = 'facebook' %}
              {% endif %}

              {% if group.link contains 'twitter.com' %}
                {% assign icon_name = 'twitter' %}
              {% endif %}

              {% if group.link contains 'youtube.com' %}
                {% assign icon_name = 'youtube' %}
              {% endif %}

              {% if group.link contains 'instagram.com' %}
                {% assign icon_name = 'instagram' %}
              {% endif %}

              {% if group.link contains 'google.com' %}
                {% assign icon_name = 'google-plus' %}
              {% endif %}

              {% if icon_name %}
                <li class="social-menu-item list-item">
                  <a target="blank" title='{{ group.title }}' href="{{ group.link }}" class="social-menu-link"><i class="fa fa-{{ icon_name }}"></i></a>
                </li>
              {% endif %}

            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <div class=" cell-3 cell-6-sm cell-12-xs text-right text-left-sm text-center-xs">
        <div class="footer-block">
          {% case settings.phone %}
            {% when 'from_settings' %}
                <a href="tel:{{ account.phone }}" class="contact-link"><i class="icon fa fa-phone"></i> {{ account.phone | editable }}</a>
            {% when 'edited_block' %}
              {{ blocks.phone.content | editable }}
          {% endcase %}
        </div>

        <div class="footer-block">
          {% case settings.email %}
            {% when 'from_settings' %}
              <a href="mailto:{{ account.email }}" class="contact-link"><i class="icon fa fa-envelope"></i> {{ account.email | editable }}</a>
            {% when 'edited_block' %}
              {{ blocks.email.content | editable }}
          {% endcase %}
        </div>
      </div>

      <div class="footer-block cell-6 cell-12-xs text-center-xs">
        {% if blocks.copyright.content != '' %}
          <div class="editor">
            {{ blocks.copyright.content | editable }}
          </div>
        {% endif %}
      </div>

      <div class="footer-block insales-copyright cell-6 cell-12-xs text-right text-center-xs">
        <a href="http://{{ account.insales_domain }}" target="_blank" rel="nofollow">{{ messages.created_by }}</a>
      </div>
    </div>
  </div>
</footer>
