<div class="product-gallery row">
  <div class="gallery-main-wrapper text-center cell-12 hide-sm">
    <a href="{{ product.first_image.original_url }}" class="image-wrapper MagicZoom" id="gallery">
      <img src="{{ product.first_image.large_url }}" alt="{{ product.first_image.title }}" title="{{ product.first_image.title }}" class="slide-image">
    </a>

  </div>

  {% if product.images.size == 1 %}
    {% assign preview_classes = 'hide show-sm' %}
  {% endif %}

  {% if product.images.size == 0 %}
    {% assign preview_classes = 'hidden' %}
  {% endif %}

  <div class="gallery-thumbs-wrapper cell-12 {{ preview_classes }}">
    <div class="gallery-thumbs swiper-container js-gallery-thumbs" id="product-gallery-thumbs">
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <div class="swiper-slide">
            <a class="slide-inner image-container is-square hidden-sm" data-zoom-id="gallery" href="{{ image.original_url }}" data-image="{{ image.large_url }}">
              <img src="{{ image.medium_url }}" alt="{{ image.title }}" title="{{ image.title }}" class="slide-imag">
            </a>
            <span class="slide-inner image-container is-square hidden shown-sm">
              <img src="{{ image.large_url }}" alt="{{ image.title }}" title="{{ image.title }}" class="slide-image">
            </span>
          </div>
        {% endfor %}
      </div>

      <span class="gallery-prev js-gallery-thumbs-prev"><i class="fa fa-angle-left"></i></span>
      <span class="gallery-next js-gallery-thumbs-next"><i class="fa fa-angle-right"></i></span>
    </div>
  </div>

</div>
