<div class="page-content">

{% include 'breadcrumb' %}

<div class="decorated-title-wrapper">
  <div class="decorated-title">
    {% include 'page_header' %}
  </div>
</div>

<div id="js-compare-wrapper" class="compares">

  {% if products.size > 0 %}

    <div id="js-compare-inner">

      {% for property in properties %}
        {% unless property.differ? %}
          {% assign same_trigger = true %}
        {% endunless %}
      {% endfor %}

      {% if same_trigger %}
        <div class="compare-toolbar">
          <button type="button" class="button is-primary button-same-toggle js-same-toggle">
            <span class="link-text hide">
              {{ messages.hide_the_same }}
              <i class="fa fa-eye"></i>
            </span>
            <span class="link-text show">
              {{ messages.show_the_same }}
              <i class="fa fa-eye-slash"></i>
            </span>
          </button>
        </div>
      {% endif %}

      <div class="compare-table-wrapper">

        <div class="table table-compare table-striped table-bordered js-compare-table">
          <div class="table-row">
            <div class="table-cell table-row-title param-title">{{ messages.label_product }}</div>

            {% for product in products %}
              <div class="table-cell param-value" data-compared-id="{{ product.id }}">
                <div class="product-title">
                  <a class="title-link" href="{{ product.url }}" title="{{ product.title }}">{{ product.title }}</a>
                </div>
              </div>
            {% endfor %}

          </div>

          <div class="table-row">
            <div class="table-cell table-row-title param-title">{{ messages.label_photo }}</div>

            {% for product in products %}
              <div class="table-cell param-value" data-compared-id="{{ product.id }}">
                <div class="compare-image-wrapper">
                  <a class="compare-image-inner image-container is-square" href="{{ product.url }}" title="{{ product.title }}">
                    <img class="compare-image" src="{{ product.images.first.medium_url }}" alt="{{ product.images.first.title }}" title="{{ product.images.first.title }}">
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>

          {% for property in properties %}

            <div class="table-row {% unless property.differ? %}same-row{% endunless %}">

              <div class="table-cell table-row-title param-title">{{ property.title }}</div>

              {% for product in products %}
                <div class="table-cell param-value" data-compared-id="{{ product.id }}">
                  {% for characteristic in product.properties[property.handle].characteristics %}
                    {{ characteristic.title }}{% unless forloop.last %},{% endunless %}
                  {% endfor %}
                </div>
              {% endfor %}
            </div>

          {% endfor %}

          <div class="table-row">
            <div class="table-cell table-row-title param-title"></div>

            {% for product in products %}
              <div class="table-cell param-value" data-compared-id="{{ product.id }}">
                <a href="{{ product.url }}" class="button is-primary">
                  {{ messages.button_more }}
                </a>

                <button title="{{ messages.button_remove_comparison }}" class="button is-transparent"
                data-compare-delete="{{ product.id }}">
                {{ messages.button_remove }}
                <i class="fa fa-times"></i>
              </button>
              </div>
            {% endfor %}
          </div>

        </div>

      </div>

    </div>

    {% assign compare_is_empty = 'hide' %}
  {% endif %}

  <div class="notice notice-info text-center {{ compare_is_empty }} js-compare-empty">{{ messages.comparison_is_empty }}</div>

</div>

</div>
